<a href="https://colab.research.google.com/github/samibahig/PersonnalExercices/blob/main/Exercice_Df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/pokemon.csv')

In [ ]:
df.describe()

              #          HP      Attack  ...     Sp. Def       Speed  Generation
count  800.0000  800.000000  800.000000  ...  800.000000  800.000000   800.00000
mean   400.5000   69.258750   79.001250  ...   71.902500   68.277500     3.32375
std    231.0844   25.534669   32.457366  ...   27.828916   29.060474     1.66129
min      1.0000    1.000000    5.000000  ...   20.000000    5.000000     1.00000
25%    200.7500   50.000000   55.000000  ...   50.000000   45.000000     2.00000
50%    400.5000   65.000000   75.000000  ...   70.000000   65.000000     3.00000
75%    600.2500   80.000000  100.000000  ...   90.000000   90.000000     5.00000
max    800.0000  255.000000  190.000000  ...  230.000000  180.000000     6.00000

[8 rows x 8 columns]

In [ ]:
df.mean()

#             400.50000
HP             69.25875
Attack         79.00125
Defense        73.84250
Sp. Atk        72.82000
Sp. Def        71.90250
Speed          68.27750
Generation      3.32375
Legendary       0.08125
dtype: float64

In [ ]:
df.mean()

#             400.50000
HP             69.25875
Attack         79.00125
Defense        73.84250
Sp. Atk        72.82000
Sp. Def        71.90250
Speed          68.27750
Generation      3.32375
Legendary       0.08125
dtype: float64

In [ ]:
df.sum()

#                                                        320400
Type 1        GrassGrassGrassGrassFireFireFireFireFireWaterW...
HP                                                        55407
Attack                                                    63201
Defense                                                   59074
Sp. Atk                                                   58256
Sp. Def                                                   57522
Speed                                                     54622
Generation                                                 2659
Legendary                                                    65
dtype: object

In [ ]:
data = [
    dict(key = "A", value = 65),
    dict(key = "A", value = 55),
    dict(key = "A", value = 35),
    dict(key = "B", value = 250),
    dict(key = "B", value = 650),
    dict(key = "B", value = 323),
    dict(key = "C", value = 1500),
    dict(key = "C", value = 2345),
    dict(key = "C", value = 3333),
]
## Create dataframe here
new_df = pd.DataFrame(data)
new_df

  key  value
0   A     65
1   A     55
2   A     35
3   B    250
4   B    650
5   B    323
6   C   1500
7   C   2345
8   C   3333

In [ ]:
new_df.groupby("key").mean()

           value
key
A      51.666667
B     407.666667
C    2392.666667

In [ ]:
data = [
    dict(animal = "cat", width = 5, height = 10, depth = 22, volume = 0),
    dict(animal = "cat", width = 3, height = 8, depth = 17, volume = 0),
    dict(animal = "rat", width = 2, height = 1, depth = 3, volume = 0),
    dict(animal = "rat", width = 3, height = 1.2, depth = 3.5, volume = 0),
    dict(animal = "bat", width = 2, height = 2.12, depth = 4, volume = 0),
    dict(animal = "bat", width = 3, height = 3.12, depth = 4.1, volume = 0),
    dict(animal = "bat", width = 1.9, height = 2.8, depth = 3.8, volume = 0),
    dict(animal = "wombat", width = 7, height = 6, depth = 26, volume = 0),
    dict(animal = "wombat", width = 8, height = 7.1, depth = 28, volume = 0),
    dict(animal = "wombat", width = 5, height = 5, depth = 22, volume = 0),
]

## Create dataframe here
animals = pd.DataFrame(data)
animals

   animal  width  height  depth  volume
0     cat    5.0   10.00   22.0       0
1     cat    3.0    8.00   17.0       0
2     rat    2.0    1.00    3.0       0
3     rat    3.0    1.20    3.5       0
4     bat    2.0    2.12    4.0       0
5     bat    3.0    3.12    4.1       0
6     bat    1.9    2.80    3.8       0
7  wombat    7.0    6.00   26.0       0
8  wombat    8.0    7.10   28.0       0
9  wombat    5.0    5.00   22.0       0

In [ ]:
def standard_scale(col):
    return col # update return method

animals[['width', 'height', 'depth']].apply(standard_scale)

   width  height  depth
0    5.0   10.00   22.0
1    3.0    8.00   17.0
2    2.0    1.00    3.0
3    3.0    1.20    3.5
4    2.0    2.12    4.0
5    3.0    3.12    4.1
6    1.9    2.80    3.8
7    7.0    6.00   26.0
8    8.0    7.10   28.0
9    5.0    5.00   22.0

In [ ]:
animals[['height', 'width']]

   height  width
0   10.00    5.0
1    8.00    3.0
2    1.00    2.0
3    1.20    3.0
4    2.12    2.0
5    3.12    3.0
6    2.80    1.9
7    6.00    7.0
8    7.10    8.0
9    5.00    5.0

In [ ]:
def standard_scale(col):
    return col # update return method

animals[['width', 'height', 'depth']].apply(standard_scale)

   width  height  depth
0    5.0   10.00   22.0
1    3.0    8.00   17.0
2    2.0    1.00    3.0
3    3.0    1.20    3.5
4    2.0    2.12    4.0
5    3.0    3.12    4.1
6    1.9    2.80    3.8
7    7.0    6.00   26.0
8    8.0    7.10   28.0
9    5.0    5.00   22.0

In [ ]:
animals[['height', 'width']]

   height  width
0   10.00    5.0
1    8.00    3.0
2    1.00    2.0
3    1.20    3.0
4    2.12    2.0
5    3.12    3.0
6    2.80    1.9
7    6.00    7.0
8    7.10    8.0
9    5.00    5.0

In [ ]:

pokemon = pd.read_csv("/content/pokemon.csv", encoding = "utf8")

In [ ]:
poketypes = pokemon.groupby(["Type 1", "Type 2"]).mean()

In [ ]:
poketypes

                          #         HP  ...  Generation  Legendary
Type 1 Type 2                           ...
Bug    Electric  657.500000  60.000000  ...    5.000000        0.0
       Fighting  232.500000  80.000000  ...    2.000000        0.0
       Fire      698.500000  70.000000  ...    5.000000        0.0
       Flying    315.571429  63.000000  ...    2.857143        0.0
       Ghost     317.000000   1.000000  ...    3.000000        0.0
...                     ...        ...  ...         ...        ...
Water  Ice       112.333333  90.000000  ...    1.000000        0.0
       Poison    129.000000  61.666667  ...    1.333333        0.0
       Psychic   121.400000  87.000000  ...    1.200000        0.0
       Rock      474.750000  70.750000  ...    3.750000        0.0
       Steel     441.000000  84.000000  ...    4.000000        0.0

[136 rows x 9 columns]

In [ ]:
# Dataframe contenant les lignes d<index 3, 4, 5, et 6
df.loc[3:6]

   #           Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
3  4  Mega Venusaur  Grass  Poison  ...      120     80           1      False
4  5     Charmander   Fire     NaN  ...       50     65           1      False
5  6     Charmeleon   Fire     NaN  ...       65     80           1      False
6  7      Charizard   Fire  Flying  ...       85    100           1      False

[4 rows x 12 columns]

In [ ]:
df.head()

   #           Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1      Bulbasaur  Grass  Poison  ...       65     45           1      False
1  2        Ivysaur  Grass  Poison  ...       80     60           1      False
2  3       Venusaur  Grass  Poison  ...      100     80           1      False
3  4  Mega Venusaur  Grass  Poison  ...      120     80           1      False
4  5     Charmander   Fire     NaN  ...       50     65           1      False

[5 rows x 12 columns]

In [ ]:
# 2 premieres lignes:
print(df.head(2))

   #       Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1  Bulbasaur  Grass  Poison  ...       65     45           1      False
1  2    Ivysaur  Grass  Poison  ...       80     60           1      False

[2 rows x 12 columns]

In [ ]:
columns_names = df.columns

In [ ]:
type(df.loc[0])

pandas.core.series.Series

In [ ]:
df.loc[99]

#                100
Name          Gastly
Type 1         Ghost
Type 2        Poison
HP                30
Attack            35
Defense           30
Sp. Atk          100
Sp. Def           35
Speed             80
Generation         1
Legendary      False
Name: 99, dtype: object

In [ ]:
print(columns_names)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [ ]:
# shape, # dimensions:
dimensions = df.shape
print(dimensions)

(800, 12)

In [ ]:
# Nombres de lignes 
num_rows = dimensions[0]

In [ ]:
print(num_rows)

800

In [ ]:
num_cols = df.shape[1]
print(num_cols)

12

In [ ]:
df.loc[0]

#                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object

In [ ]:
df.loc[6]

#                     7
Name          Charizard
Type 1             Fire
Type 2           Flying
HP                   78
Attack               84
Defense              78
Sp. Atk             109
Sp. Def              85
Speed               100
Generation            1
Legendary         False
Name: 6, dtype: object

In [ ]:
df.loc[5]

#                      6
Name          Charmeleon
Type 1              Fire
Type 2               NaN
HP                    58
Attack                64
Defense               58
Sp. Atk               80
Sp. Def               65
Speed                 80
Generation             1
Legendary          False
Name: 5, dtype: object

In [ ]:
poketypes.index

MultiIndex([(  'Bug', 'Electric'),
            (  'Bug', 'Fighting'),
            (  'Bug',     'Fire'),
            (  'Bug',   'Flying'),
            (  'Bug',    'Ghost'),
            (  'Bug',    'Grass'),
            (  'Bug',   'Ground'),
            (  'Bug',   'Poison'),
            (  'Bug',     'Rock'),
            (  'Bug',    'Steel'),
            ...
            ('Water', 'Fighting'),
            ('Water',   'Flying'),
            ('Water',    'Ghost'),
            ('Water',    'Grass'),
            ('Water',   'Ground'),
            ('Water',      'Ice'),
            ('Water',   'Poison'),
            ('Water',  'Psychic'),
            ('Water',     'Rock'),
            ('Water',    'Steel')],
           names=['Type 1', 'Type 2'], length=136)

In [ ]:
subsets = ['Bug', 'Fire', 'Dragon']

In [ ]:
# columns
dimensions = food_info.shape
print(dimensions)

NameError: ignored

In [ ]:
food_info.loc[0]

NameError: ignored

In [ ]:
row_100 = df.loc[139]
print(row_100)

#                  140
Name          Magikarp
Type 1           Water
Type 2             NaN
HP                  20
Attack              10
Defense             55
Sp. Atk             15
Sp. Def             20
Speed               80
Generation           1
Legendary        False
Name: 139, dtype: object

In [ ]:
# dataframe.dtypes
print(df.dtypes)

#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [ ]:
df.loc[3:6]

   #           Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
3  4  Mega Venusaur  Grass  Poison  ...      120     80           1      False
4  5     Charmander   Fire     NaN  ...       50     65           1      False
5  6     Charmeleon   Fire     NaN  ...       65     80           1      False
6  7      Charizard   Fire  Flying  ...       85    100           1      False

[4 rows x 12 columns]

In [ ]:
# methode 1
two_five_ten = [2, 5, 10]

In [ ]:
df.loc[two_five_ten]

     #        Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
2    3    Venusaur  Grass  Poison  ...      100     80           1      False
5    6  Charmeleon   Fire     NaN  ...       65     80           1      False
10  11   Wartortle  Water     NaN  ...       80     58           1      False

[3 rows x 12 columns]

In [ ]:
df.loc[[2, 5, 10]]

     #        Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
2    3    Venusaur  Grass  Poison  ...      100     80           1      False
5    6  Charmeleon   Fire     NaN  ...       65     80           1      False
10  11   Wartortle  Water     NaN  ...       80     58           1      False

[3 rows x 12 columns]

In [ ]:
df.shape[0]

800

In [ ]:
df.loc[6]

#                     7
Name          Charizard
Type 1             Fire
Type 2           Flying
HP                   78
Attack               84
Defense              78
Sp. Atk             109
Sp. Def              85
Speed               100
Generation            1
Legendary         False
Name: 6, dtype: object

In [ ]:
df.loc[8620]

KeyError: ignored

In [ ]:
df

       #            Name   Type 1  ... Speed  Generation  Legendary
0      1       Bulbasaur    Grass  ...    45           1      False
1      2         Ivysaur    Grass  ...    60           1      False
2      3        Venusaur    Grass  ...    80           1      False
3      4   Mega Venusaur    Grass  ...    80           1      False
4      5      Charmander     Fire  ...    65           1      False
..   ...             ...      ...  ...   ...         ...        ...
795  796         Diancie     Rock  ...    50           6       True
796  797    Mega Diancie     Rock  ...   110           6       True
797  798  Hoopa Confined  Psychic  ...    70           6       True
798  799   Hoopa Unbound  Psychic  ...    80           6       True
799  800       Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [ ]:
print(df['Name'])

0           Bulbasaur
1             Ivysaur
2            Venusaur
3       Mega Venusaur
4          Charmander
            ...
795           Diancie
796      Mega Diancie
797    Hoopa Confined
798     Hoopa Unbound
799         Volcanion
Name: Name, Length: 800, dtype: object

In [ ]:
df_Name[800]

KeyError: ignored

In [ ]:
genre = df['Type 1']
print(genre)

0        Grass
1        Grass
2        Grass
3        Grass
4         Fire
        ...
795       Rock
796       Rock
797    Psychic
798    Psychic
799       Fire
Name: Type 1, Length: 800, dtype: object

In [ ]:
df['Type 2']

0      Poison
1      Poison
2      Poison
3      Poison
4         NaN
        ...
795     Fairy
796     Fairy
797     Ghost
798      Dark
799     Water
Name: Type 2, Length: 800, dtype: object

In [ ]:
columns = ["Type 1", "Type 2"]

In [ ]:
print(columns)

['Type 1', 'Type 2']

In [ ]:
df = pd.read_csv('/content/BibliothÃ¨que Pandas (formation).csv')

ParserError: ignored

       #            Name   Type 1  ... Speed  Generation  Legendary
0      1       Bulbasaur    Grass  ...    45           1      False
1      2         Ivysaur    Grass  ...    60           1      False
2      3        Venusaur    Grass  ...    80           1      False
3      4   Mega Venusaur    Grass  ...    80           1      False
4      5      Charmander     Fire  ...    65           1      False
..   ...             ...      ...  ...   ...         ...        ...
795  796         Diancie     Rock  ...    50           6       True
796  797    Mega Diancie     Rock  ...   110           6       True
797  798  Hoopa Confined  Psychic  ...    70           6       True
798  799   Hoopa Unbound  Psychic  ...    80           6       True
799  800       Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [ ]:
liste1

['#',
 'Name',
 'Type 1',
 'Type 2',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary']

In [ ]:
water = df['Name'] * 1000* df['HP'] / 10

TypeError: ignored

In [ ]:
water[0:5]

0    BulbasaurBulbasaurBulbasaurBulbasaurBulbasaurB...
1    IvysaurIvysaurIvysaurIvysaurIvysaurIvysaurIvys...
2    VenusaurVenusaurVenusaurVenusaurVenusaurVenusa...
3    Mega VenusaurMega VenusaurMega VenusaurMega Ve...
4    CharmanderCharmanderCharmanderCharmanderCharma...
dtype: object

In [ ]:
max = df['HP'].max( )

In [ ]:
df['HP'] / max

0      0.176471
1      0.235294
2      0.313725
3      0.313725
4      0.152941
         ...
795    0.196078
796    0.196078
797    0.313725
798    0.313725
799    0.313725
Name: HP, Length: 800, dtype: float64

In [ ]:
max = df.sort_values('HP', ascending=False)

In [ ]:
print(max)

       #       Name   Type 1 Type 2  ...  Sp. Def  Speed  Generation  Legendary
261  262    Blissey   Normal    NaN  ...      135     55           2      False
121  122    Chansey   Normal    NaN  ...      105     50           1      False
217  218  Wobbuffet  Psychic    NaN  ...       58     33           2      False
351  352    Wailord    Water    NaN  ...       45     60           3      False
655  656  Alomomola    Water    NaN  ...       45     65           5      False
..   ...        ...      ...    ...  ...      ...    ...         ...        ...
139  140   Magikarp    Water    NaN  ...       20     80           1      False
381  382     Feebas    Water    NaN  ...       55     80           3      False
388  389    Duskull    Ghost    NaN  ...       90     25           3      False
55    56    Diglett   Ground    NaN  ...       45     95           1      False
316  317   Shedinja      Bug  Ghost  ...       30     40           3      False

[800 rows x 12 columns]