<a href="https://colab.research.google.com/github/samibahig/PersonnalExercices/blob/main/Exercice_Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/raw_data.csv', parse_dates=['date'])

FileNotFoundError: ignored

In [ ]:
df

      iso_code     location       date  ...  Unnamed: 11  Unnamed: 12  Unnamed: 13
0          AFG  Afghanistan 2019-12-31  ...        #NUM!    17.477233  7.497754494
1          AFG  Afghanistan 2020-01-01  ...        #NUM!    17.477233  7.497754494
2          AFG  Afghanistan 2020-01-02  ...        #NUM!    17.477233  7.497754494
3          AFG  Afghanistan 2020-01-03  ...        #NUM!    17.477233  7.497754494
4          AFG  Afghanistan 2020-01-04  ...        #NUM!    17.477233  7.497754494
...        ...          ...        ...  ...          ...          ...          ...
50413      ZWE     Zimbabwe 2020-10-15  ...   4.34185547    16.514381  7.549490737
50414      ZWE     Zimbabwe 2020-10-16  ...   4.34185547    16.514381  7.549490737
50415      ZWE     Zimbabwe 2020-10-17  ...   4.34185547    16.514381  7.549490737
50416      ZWE     Zimbabwe 2020-10-18  ...   4.34185547    16.514381  7.549490737
50417      ZWE     Zimbabwe 2020-10-19  ...   4.34185547    16.514381  7.549490737

[50418 rows x 14 columns]

In [ ]:
df.shape

(50418, 14)

In [ ]:
df.head(15)

   iso_code     location       date  ...  Unnamed: 11  Unnamed: 12  Unnamed: 13
0       AFG  Afghanistan 2019-12-31  ...        #NUM!    17.477233  7.497754494
1       AFG  Afghanistan 2020-01-01  ...        #NUM!    17.477233  7.497754494
2       AFG  Afghanistan 2020-01-02  ...        #NUM!    17.477233  7.497754494
3       AFG  Afghanistan 2020-01-03  ...        #NUM!    17.477233  7.497754494
4       AFG  Afghanistan 2020-01-04  ...        #NUM!    17.477233  7.497754494
5       AFG  Afghanistan 2020-01-05  ...        #NUM!    17.477233  7.497754494
6       AFG  Afghanistan 2020-01-06  ...        #NUM!    17.477233  7.497754494
7       AFG  Afghanistan 2020-01-07  ...        #NUM!    17.477233  7.497754494
8       AFG  Afghanistan 2020-01-08  ...        #NUM!    17.477233  7.497754494
9       AFG  Afghanistan 2020-01-09  ...        #NUM!    17.477233  7.497754494
10      AFG  Afghanistan 2020-01-10  ...        #NUM!    17.477233  7.497754494
11      AFG  Afghanistan 2020-01-11  ...        #NUM!    17.477233  7.497754494
12      AFG  Afghanistan 2020-01-12  ...        #NUM!    17.477233  7.497754494
13      AFG  Afghanistan 2020-01-13  ...        #NUM!    17.477233  7.497754494
14      AFG  Afghanistan 2020-01-14  ...        #NUM!    17.477233  7.497754494

[15 rows x 14 columns]

In [ ]:
import pandas as pd

In [ ]:
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'], 'Height': [5.1, 6.2, 5.1, 5.2], 'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}

In [ ]:
df['day of the week'] = df['date'].dt.dayofweek

In [ ]:
df1 = pd.DataFrame({'id': [1, 2, 3],'name': ['Alice', 'Bob', 'Carl']})

In [ ]:
df2 = pd.DataFrame({'id': [1, 2, 3],'name': ['David', 'Elsa', 'Carl']})

In [ ]:
merged = pd.merge(df1, df2)

In [ ]:
print(merged)

   id  name
0   3  Carl

In [ ]:
store_a_b_outer = df.merge(store_a, store_b, how= 'outer')
print(store_a_b_outer)

NameError: ignored

In [ ]:
df1 = pd.DataFrame({'id': [1, 2, 3], 'name': ['Alice', 'Bob', 'Carl']})

In [ ]:
df2 = pd.DataFrame({'id': [1, 2, 3],'name': ['David', 'Elsa', 'Carl']})

In [ ]:
df1

   id   name
0   1  Alice
1   2    Bob
2   3   Carl

In [ ]:
df2

   id   name
0   1  David
1   2   Elsa
2   3   Carl

In [ ]:
merged = pd.merge(df1, df2)

In [ ]:
print(merged)

   id  name
0   3  Carl

In [ ]:
df1.merge(df2)

   id  name
0   3  Carl

In [ ]:
df1.merge(df2, on='id')

   id name_x name_y
0   1  Alice  David
1   2    Bob   Elsa
2   3   Carl   Carl

In [ ]:
frames = [df1, df2]

In [ ]:
frames

[   id   name
 0   1  Alice
 1   2    Bob
 2   3   Carl,    id   name
 0   1  David
 1   2   Elsa
 2   3   Carl]

In [ ]:
pd.concat(frames, axis=1, join="inner', ignore_index=False, keys=[0,1], index=[1], levels=None)

SyntaxError: ignored

In [ ]:
df1.iloc[0:2]

   id   name
0   1  Alice
1   2    Bob

In [ ]:
df1.isnull()

      id   name
0  False  False
1  False  False
2  False  False

In [ ]:
df1.notnull()

     id  name
0  True  True
1  True  True
2  True  True